$theme-colors: (
  'primary': #5ab7a8,
  'primary-background': #eff3f2,
  'secondary-background': white,
  'search-icon-color': #0b604d,

  'success': #28a745,
  'info': #17a2b8,
  'warning': #ffc107,
  'danger': #dc3545,

  'text-color': #2b2b2b
);

@font-face {
  font-family: "PoppinsRegular";
  font-weight: normal;
  font-style: normal;
  src: url("Poppins-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsMedium";
  font-weight: normal;
  font-style: normal;
  src: url("Poppins-Medium.ttf") format("truetype");
}
@font-face {
  font-family: "PoppinsBold";
  font-weight: normal;
  font-style: normal;
  src: url("Poppins-Bold.ttf") format("truetype");
}

h1 {
  color: var(--bs-text-color);
  font-family: "PoppinsBold";
  font-size: 24px;
  line-height: 32px;
}

h2 {
  color: var(--bs-text-color);
  font-family: "PoppinsMedium";
  font-size: 20px;
  line-height: 28px;
}

h3 {
  color: var(--bs-text-color);
  font-family: "PoppinsBold";
  font-size: 16px;
  line-height: 20px;
}

p {
  color: var(--bs-text-color);
  font-family: "PoppinsRegular";
  font-size: 16px;
  line-height: 20px;
}

i {
  color: map-get($theme-colors, 'text-color');
  font-size: 32px;
  font-weight: Bold;
}

img {
  border-radius: 20px;
}

#link {
  color: var(--bs-text-color);
  font-family: "PoppinsRegular";
  font-size: 16px;
  line-height: 20px;
}

#shadowBtn {
  height: 40px;
  justify-content: center;
  border-radius: 10px;
  background-color: white;
  border-style: solid;
  border-color: var(--bs-primary);
  box-shadow: 5px 5px 5px lightslategray;
}

.dialogbox {
  justify-content: space-between;
  background-color: var(--bs-primary);
  border-radius: 20px;
  height: fit-content;
  padding: 30px;
}

.btn {
  color: var(--bs-text-color);
  font-family: Poppins;
  width: 100%;
}

.list-group-item-action {
  color: var(-bs--text-color);
      font-family: "PoppinsRegular";
      font-size: 16px;
      line-height: 20px;
      &:hover {
        color: var(--bs-primary);
      }
}

$carousel-control-color: var(--bs-text-color);

$body-bg: map-get($theme-colors, 'primary-background');
$body-color: map-get($theme-colors, 'text-color');

$list-group-color: map-get($theme-colors, 'text-color');
$list-group-bg: map-get($theme-colors, 'primary-background');
$list-group-border-color: map-get($theme-colors, 'primary-background');

$list-group-hover-bg: map-get($theme-colors, 'primary-background');
$list-group-active-color: map-get($theme-colors, 'primary-background');

$list-group-disabled-color: gray-600;
$list-group-disabled-bg: list-group-bg;

$list-group-action-hover-color: map-get($theme-colors, 'primary');

$list-group-action-active-color: map-get($theme-colors, 'primary');
$list-group-action-active-bg: list-group-bg;




/* IF WE DISCOVER THAT WE NEED ONLY SOME FEW BOOTSTRAP-IMPORTS:
    change first link to several needed imports.
*/

@import 'bootstrap/scss/bootstrap';

/* BOOTSTRAP ICONS
    use as font -example icon-element:
    <i class="bi bi-list" style="font-size: 2rem; color: cornflowerblue" />
*/

@import 'bootstrap-icons';
